.background-overlay {
    background: rgba(0, 0, 0, .6);
}

#home-hero {
    background: url('../assets/images/hero-img.jpg') center / cover no-repeat;
}

#enterprise {
    background: url('../assets//images/dreel-academy-banner.png') center / cover no-repeat;
}

#footer {
    background: url('../assets/images/hero-img.jpg') center / cover no-repeat;
}