.primary-color {
    color: var(--primary-color);
}

.card-icon-bg {
    background: #1d4ed81a;
    position: relative;
    font-size: 1.7rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.btn {
    padding: .55rem 1.25rem;
    font-size: .9375rem;
    font-weight: 600;
    line-height: 1.5;
    border-radius: 800px;
}

.btn-bg-primary {
    background: #1D4ED8;
    color: white;
    border: 1px solid #1D4ED8;
}

.btn-outline-primary {
    color: #1D4ED8;
    border: 1px solid #1D4ED8;
    box-shadow: 0 0 0 0 #1D4ED8;
    width: fit-content;
    transition: all 300ms;
}

.btn-outline-primary:hover {
    color: white;
    background: #1D4ED8;
    border-color: #1D4ED8;
}

.h4{
    font-size: 23.4px;
}

.mobile-pad{
    padding: 0 20px 0 20px;
}

@media (min-widt) {
    
}