@import "tailwindcss";

:root {
    --font-sans: "Inter", sans-serif;
    --font-heading: "Space Grotesk", sans-serif;
    --primary-color: #1D4ED8;
    --primary-hover-color: #0032bb;
    --bg-primary-fade: #1D4ED81F;
    --loading: #AABEF3;
}

* {
    transition: all 500ms;
}

html {
    scroll-behavior: smooth;
    transition: all 300ms;
}

body {
    font-family: 'Helvetica Neue',sans-serif;
}