@import "tailwindcss";

:root {
    --font-sans: "Inter", sans-serif;
    --font-heading: "Space Grotesk", sans-serif;
    --primary-color: #1D4ED8;
    --primary-hover-color: #013AD6;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
}